<div class="form my-4">
  <form [formGroup]="SignUpFrom" (ngSubmit)="OnSubmit()" >
  <div class="title text-center">
    <h1 class="text-info">Reactive Form</h1>
  </div>
  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title> User Detail </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>User Name</mat-label>
        <input type="text" formControlName="username" matInput />
        <!-- //required  -->
        <mat-error
          *ngIf="f['username'].touched && f['username'].hasError('required')"
        >
          UserName Required field !
        </mat-error>
        <!-- minlegnth  -->
        <mat-error
          *ngIf="f['username'].dirty && f['username'].hasError('minlength')"
        >
          UserName should minimum 6 charachotr required !
        </mat-error>
        <!-- maxlegth -->
        <mat-error
          *ngIf="f['username'].dirty && f['username'].hasError('maxlength')"
        >
          UserName Should maximun 12 charactor required !
        </mat-error>

        <!-- patter -->
        <mat-error
          *ngIf="f['username'].dirty && f['username'].hasError('pattern')"
        >
          UserName not allow Number & Special charector!
        </mat-error>
        <!-- no space -->
        <mat-error
          *ngIf="f['username'].dirty && f['username'].hasError('nospaceErr')"
        >
          {{f['username'].errors?.['nospaceErr']}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput />
        <!-- reuired -->
        <mat-error
          *ngIf="f['email'].touched && f['email'].hasError('required')"
        >
          Email Rquired filed!
        </mat-error>

        <!-- pattren -->
        <mat-error *ngIf="f['email'].dirty && f['email'].hasError('pattern')">
          please Enter valid Email
        </mat-error>
        <span *ngIf="f['email'].pending"> checking Avaliblity... </span>
        <span class="text-success" *ngIf="f['email'].dirty && f['email'].valid">
          This email iS Available</span
        >
        <mat-error
          *ngIf="f['email'].dirty && f['email'].hasError('emailexist')"
        >
          {{f['email'].errors?.['emailexist']}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Emp Id</mat-label>
        <input type="text" matInput formControlName="empid" />
        <!-- required -->
        <mat-error
          *ngIf="f['empid'].touched && f['empid'].hasError('required')"
        >
          Emp Id required filed!
        </mat-error>
        <!-- pattern -->
        <mat-error *ngIf="f['empid'].dirty && f['empid'].hasError('pattern')">
          Plese Enter EmpId valid (ex:E123)!
        </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title> Gender </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group
        formControlName="gender"
        aria-label="Gender"
        appearance="fill"
      >
        <mat-radio-button [value]="gen" *ngFor="let gen of GenderArr">{{
          gen
        }}</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title> Adress Setting </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="example-section">
        <mat-checkbox formControlName="IsAddsame" class="example-margin"
          >Is Current & Pernante Adress Same?</mat-checkbox
        >
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title>Address Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6" formGroupName="currentAdress">
          <h3>Current Address</h3>
          <!-- country -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                [value]="contry.Country"
                *ngFor="let contry of countryArr"
                >{{ contry.Country }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- state -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>State</mat-label>
            <input formControlName="state" type="text" matInput />
          </mat-form-field>
          <!-- city -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>City</mat-label>
            <input formControlName="city" type="text" matInput />
          </mat-form-field>
          <!-- zipcode -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zipcode" type="text" matInput />
          </mat-form-field>
        </div>
        <div class="col-md-6" formGroupName="peramanttAdress">
          <h3>Peramenant Address</h3>
          <!-- country -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                [value]="contry.Country"
                *ngFor="let contry of countryArr"
                >{{ contry.Country }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- state -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>State</mat-label>
            <input formControlName="state" type="text" matInput />
          </mat-form-field>
          <!-- city -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>City</mat-label>
            <input formControlName="city" type="text" matInput />
          </mat-form-field>
          <!-- zipcode -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zipcode" type="text" matInput />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title> Skills </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-chip-list w-100" appearance="fill">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let skills of skillsArr.controls; let i = index">
            {{ skills.value }}
            <button matChipRemove>
              <mat-icon (click)="onskillremovr(i)">cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New skills..."
            [matChipInputFor]="chipList"
            [formControl]="skillcontrol"
            (matChipInputTokenEnd)="addskills()"
          />
        </mat-chip-list>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title>Add Dependant Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content formArrayName="dependant">
      <div
        class="row"
        [formGroupName]="i"
        *ngFor="let depent of dependantArr.controls; let i = index"
      >
        <div class="col-md-11 d-flex">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Full Name</mat-label>
              <input formControlName="fullname" type="text" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>RelationShip</mat-label>
              <input formControlName="realationship" type="text" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Citizenship</mat-label>
              <input formControlName="citizenship" type="text" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Is Travle with You ?</mat-label>
              <mat-select formControlName="istravalwithyou">
                <mat-option value="yes"> Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1">
          <div class="col-md-3">
            <button
              mat-icon-button
              *ngIf="i > 0"
              color="warn"
              (click)="onremovedependent(i)"
              type="button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        [disabled]="f['dependant'].invalid"
        color="primary"
        type="button"
        (click)="onAdddependant()"
      >
        Add Dependant
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="w-100 m-2">
    <mat-card-header>
      <mat-card-title> Password Detail </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password</mat-label>
        <input type="text" formControlName="password" matInput />
        <mat-error
          *ngIf="f['password'].touched && f['password'].hasError('required')"
          >Password must required !</mat-error
        >

        <mat-error
          *ngIf="f['password'].dirty && f['password'].hasError('pattern')"
        >
          please Enter valid Password
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input type="text" formControlName="confirmpassword" matInput />

        <mat-error
          *ngIf="
            f['confirmpassword'].dirty &&
            f['confirmpassword'].hasError('matchErr')
          "
        >
          Counfirm Pass And Confirm password must match!
        </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="primary" class="btn btn-block ml-2">Submit</button>
</form>

</div>